@color-red: rgb(255, 57, 70);
@color-blue: rgb(49, 69, 132);
@color-light-blue: rgb(195, 208, 216);
@color-grey: rgb(110, 117, 122);

@margin-main-content-desktop: 15%;

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu-button-container {
        display: none;
    }

    .menu-container {
        position: static;
        order: 1;
        width: 75%;
    }

    .menu-items-container {
        visibility: visible;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        background-color: white;

        nav {
            display: inline;
            width: 50%;
        }

        .navigation-list {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li a {
                color: @color-blue;
            }
        }
    }

    .lang-contact-container {
        flex-direction: row;
        justify-content: space-between;
        width: 25%;

        select {
            width: fit-content;
            background-color: white;
            color: @color-blue;
            font-weight: bold;
            font-family: "Work Sans";
            margin-bottom: 0;
            margin-right: 10%;
        }
    }

    .contact-container {
        height: 30px;
        width: auto;
    }

    .logo {
        order: 0;
        width: 10%;
        height: 20%;
    }

    .main-container {
        margin-left: @margin-main-content-desktop;
        margin-right: @margin-main-content-desktop;
    }

    #slider-container {
        display: block;
        width: 50%;
    }

    .slider-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer-container .navigation-list {
        flex-direction: row;
    }
}
