@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url(../fonts/WorkSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url(../fonts/WorkSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url(../fonts/WorkSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@color-red: rgb(255, 57, 70);
@color-blue: rgb(49, 69, 132);
@color-light-blue: rgb(195, 208, 216);
@color-grey: rgb(110, 117, 122);
@color-lighter-blue: rgb(244, 250, 254);

@margin-main-content: 5%;

body {
    font-family: "Work Sans";
}

section {
    margin: 50px 0px;
}

.navigation-list {
    display: flex;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: white;

            &:active {
                color: @color-blue;
            }

            &:hover {
                background-color: white;
                color: @color-blue;
            }
        }
    }
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    width: 60%;
    align-self: center;
}

.menu-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
}

#menu-toggle {
    display: none;

    &:checked ~ .menu-items-container {
        visibility: visible;
    }

    &:checked ~ .menu-button-container {
        background-color: @color-blue;

        & > span {
            background-color: white;
            transform: rotate(45deg);

            &::before {
                background-color: white;
                top: 0;
                transform: rotate(0);
            }

            &::after {
                background-color: white;
                top: 0;
                transform: rotate(90deg);
            }
        }
    }
}

.menu-button-container {
    margin: 5px;
    width: 30px;
    height: 30px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    z-index: 1;

    .button-span() {
        display: block;
        position: absolute;

        width: 100%;
        background-color: @color-blue;
        transition-duration: 0.25s;
    }

    & > span {
        .button-span();
        height: 10%;
    }

    & > span::before {
        .button-span();
        height: 100%;
        content: "";
        top: -250%;
    }

    & > span::after {
        .button-span();
        height: 100%;
        content: "";
        top: 250%;
    }
}

.menu-items-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: @color-blue;
    color: white;
    font-weight: bold;
    transition-duration: 0.25s;
    padding: 20px;
    width: 100%;

    .navigation-list {
        flex-direction: column;
        padding: 0;
    }
}

.lang-contact-container {
    display: flex;
    flex-direction: column;

    select {
        align-self: center;
        background-color: rgb(49, 69, 132);
        color: white;
        font-weight: bold;
        font-family: "Work Sans";
        border: none;
        width: 50%;
        margin-bottom: 10px;
    }
}

.contact-container {
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: @color-red;
    width: 80%;
    box-shadow: 0px 3px 5px @color-grey;
    border-radius: 10px;
    padding: 10px;
    height: 40px;

    .image-wrapper {
        width: 15%;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: @margin-main-content;
    margin-right: @margin-main-content;
}

.info-container {
    display: flex;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-weight: 600;
        margin: 0;
        font-size: 3.5em;
        color: @color-blue;
    }
    p {
        color: @color-grey;
    }
}

.buttons-container {
    display: flex;
    font-weight: bold;
}

.more-about-us-button {
    padding: 15px;
    border-radius: 20px;
    background-color: @color-red;
    color: white;
}

.get-in-touch-button {
    padding: 15px;
    color: @color-blue;
}

#slider-container {
    display: none;
}

.works-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.9em;
    font-weight: 600;
    color: @color-blue;
}

.examples-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.example-wrapper {
    @width-example: 30%;

    background-color: @color-light-blue;
    padding-top: 0.7 * @width-example;
    width: @width-example;
    position: relative;
    margin-right: 2%;
    margin-bottom: 2%;
}

.example {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.see-more-button {
    color: @color-red;
    align-self: center;
    font-weight: 600;
}

.form-container {
    display: flex;
    flex-direction: column;

    h3 {
        color: @color-red;
        margin-bottom: 0;
    }

    @margin: 15px;

    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: @margin;
    }

    .fieldappearance() {
        font-family: inherit;
        color: @color-blue;
        background-color: @color-lighter-blue;
        font-weight: bold;
        border: none;
        padding: 10px;
    }

    input {
        .fieldappearance();
        width: 45%;
    }

    textarea {
        .fieldappearance();
        margin-bottom: @margin;
        resize: none;
    }

    .submit-button {
        min-width: fit-content;
        width: 20%;
        align-self: center;
        color: white;
        background-color: @color-red;
        font-weight: 600;
        border-radius: 10px;
    }
}

.footer-container {
    background-color: @color-blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: @color-red;
    }

    nav {
        width: 50%;
    }

    .navigation-list {
        justify-content: space-around;
    }
}

.footer-title {
    margin-bottom: 0;
}

@socials-width: 50px;

.address-container {
    display: flex;
    width: @socials-width*3+10px*2;
    justify-content: space-between;
    margin-bottom: 15px;

    .image-wrapper {
        width: 50px;
    }
}

.rights {
    font-size: 0.7em;
    margin-bottom: 15px;
}

@import url("styles_desktop.less");
